body.news-front-page .front__people-of-wordpress {
	background-color: var(--wp--preset--color--off-white);
	position: relative;

	.front__people-of-wordpress-heading {
		font-size: clamp(38px, 4vw, 50px);
		padding: calc(var(--wp--custom--alignment--edge-spacing) * 2) var(--wp--custom--alignment--edge-spacing);

		@include break-medium() {
			padding: var(--wp--custom--alignment--edge-spacing);
		}
	}

	.wp-block-post-template {
		margin-top: 0;
		padding: 0 var(--wp--custom--alignment--edge-spacing);

		@include break-medium() {
			display: flex;
			flex-direction: row;
			padding: 0;
		}

		.wp-block-post {
			position: relative;
			aspect-ratio: 1 / 1;
			padding: 0;
			margin: 0 0 15px 0;
			overflow: hidden;

			@include break-medium() {
				margin: 1px;
				width: calc(25% - 2px);
			}

			&:focus-within {
				outline: 1px dotted currentColor;
			}

			.wp-block-post-title {
				font-size: var(--wp--preset--font-size--extra-large);
				line-height: 1.3;

				a {
					color: var(--wp--preset--color--white);
					display: flex;
					align-items: flex-end;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					padding: 24px;
					z-index: 1;
				}
			}

			&.has-post-thumbnail {
				.wp-block-post-title {
					@include hide-accessibly;
				}

				// B&W featured image
				.wp-block-post-featured-image {
					margin: 0;

					img {
						object-fit: cover;
						filter: grayscale(100%);
						aspect-ratio: 1 / 1;
					}
				}

				@include break-small() {
					&:hover,
					&:focus-within {
						figure {
							transition: all 0.3s ease-in-out;
							background-color: var(--wp--preset--color--blue-1);
						}

						img {
							mix-blend-mode: multiply;
						}
					}
				}
			}

			&:not(.has-post-thumbnail) {
				background: var(--wp--preset--color--blue-1);
				transition: background 0.15s linear;

				&:hover,
				&:focus-within {
					transition: all 0.3s ease-in-out;
					background-color: var(--wp--preset--color--black);
				}
			}
		}

	}

	.front__next-page {
		position: relative;
		font-size: var(--wp--preset--font-size--small);
		padding:
			var(--wp--custom--alignment--edge-spacing)
			var(--wp--custom--alignment--edge-spacing)
			calc(var(--wp--custom--alignment--edge-spacing) + var(--wp--style--block-gap));

		@include break-medium() {
			padding: 0 var(--wp--custom--alignment--edge-spacing) 0 0;
			position: absolute;
			top: var(--wp--custom--alignment--edge-spacing);
			right: 0;
			width: 192px;
		}

		&::before {
			content: "";
			display: block;
			height: 62px;
			width: 192px;
			background-image: url(images/brush-stroke-see-all-people.svg);
			position: absolute;
			top: calc(var(--wp--custom--alignment--edge-spacing) - 1em);
			left: 0;

			@include break-medium() {
				top: calc(50% - (62px / 2));
				left: -20px;
			}
		}

		a {
			position: relative;
			z-index: 1;
		}
	}
}
