body.news-front-page .front__people-of-wordpress {
	background-color: var(--wp--preset--color--off-white);
	position: relative;

	h2 {
		font-size: clamp(20px, calc(100vw / 24), 45px);
		padding: var(--wp--custom--alignment--edge-spacing);
	}

	.wp-block-post-template {
		margin-top: 0;
		padding: 0 var(--wp--custom--alignment--edge-spacing);

		@include break-medium() {
			display: flex;
			flex-direction: row;
			padding: 0;
		}

		.wp-block-post {
			position: relative;
			aspect-ratio: 1 / 1;
			padding: 0;
			margin: 0 0 15px 0;
			overflow: hidden;

			@include break-medium() {
				margin: 1px;
				width: calc(25% - 2px);
			}

			.wp-block-post-featured-image img {
				filter: grayscale(100%);
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
				transition: filter 0.15s linear;
			}

			&:hover .wp-block-post-featured-image img,
			&:focus-within .wp-block-post-featured-image img {
				filter: grayscale(0%);
			}

			&:focus-within {
				outline: 1px dotted currentColor;
			}

			.wp-block-post-title {
				font-size: var(--wp--preset--font-size--extra-large);
				line-height: 1.3;

				a {
					color: var(--wp--preset--color--white);
					display: flex;
					align-items: flex-end;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					padding: 24px;
					z-index: 1;
				}
			}

			&.has-post-thumbnail {
				.wp-block-post-title {

					@include hide-accessibly;
				}
			}

			&:not(.has-post-thumbnail) {
				background: var(--wp--preset--color--blue-1);
				transition: background 0.15s linear;

				&:hover,
				&:focus-within {
					background: var(--wp--preset--color--blue-2);
				}
			}
		}

	}

	.front__next-page {
		font-size: var(--wp--preset--font-size--small);
		padding: var(--wp--custom--alignment--edge-spacing);

		@include break-medium() {
			padding: 0;
			position: absolute;
			top: var(--wp--custom--alignment--edge-spacing);
			right: var(--wp--custom--alignment--edge-spacing);

			&::before {
				content: "";
				display: block;
				height: 62px;
				width: 192px;
				background-image: url(images/brush-stroke-see-all-people.svg);
				position: absolute;
				top: calc(50% - (62px / 2));
				left: -20px;
			}

			a {
				position: relative;
				z-index: 1;
			}
		}
	}
}
