body.category {
	--category-color: var(--wp--preset--color--blue-1);

	.query-title-banner__title__dropcap {
		grid-column: 1 !important;
		width: calc(var(--wp--custom--layout--content-meta-size) - 32px) !important;
		user-select: none;

		.wp-block-query-title {
			color: var(--category-color);
			font-size: 0;
			line-height: 0.7;
			margin-top: var(--wp--style--block-gap);

			@media (max-width: #{ ($break-wide - 1) }) {

				@include hide-accessibly;
			}

			&::first-letter {
				font-size: min(35vw, 475px); // Don't let this grow outside its container.
				text-transform: uppercase;
			}
		}
	}
}

body.category-development {
	--category-color: var(--wp--preset--color--green);

	.wp-block-wporg-local-navigation-bar {
		--bar-background-color: var(--wp--preset--color--green);
		--bar-text-color: var(--wp--preset--color--black);
		--bar-link-color: var(--wp--preset--color--black);
		--bar-link-hover-color: var(--wp--preset--color--black);
	}
}

body.category-security {
	--category-color: var(--wp--preset--color--coral-red);

	.wp-block-wporg-local-navigation-bar {
		--bar-background-color: var(--wp--preset--color--coral-red);
		--bar-text-color: var(--wp--preset--color--black);
		--bar-link-color: var(--wp--preset--color--black);
		--bar-link-hover-color: var(--wp--preset--color--darker-grey);
	}
}

body.category-events,
body.category-releases {
	.wp-block-post article {
		max-width: var(--wp--custom--layout--content-size);
		margin: 0 auto;
	}
}

%releases-events-fonts {
	.wp-block-post {
		.wp-block-post-title {
			font-size: 30px;
			line-height: var(--wp--custom--heading--typography--line-height);

			@include break-wide() {
				font-size: 36px;
				line-height: 1.35;
			}
		}

		.wp-block-post-date {
			font-size: 13px;
			line-height: 1.6;

			@include break-wide() {
				font-size: var(--wp--preset--font-size--normal);
			}
		}

		.wp-block-post-excerpt {

			@include break-wide() {
				line-height: 1.6;
			}
		}
	}
}
