.footer-archive.wp-block-template-part {
	margin-top: 0;
	border-bottom: 1px solid var(--wp--preset--color--light-grey);
}

// Default/light version.
.footer-archive-row[class*="wp-container-"] {
	justify-content: space-between;
	align-items: stretch !important;
	margin-top: 0;
	gap: 0;
	background-color: var(--wp--preset--color--white);
	line-height: 30px;

	h3 {
		font-size: 26px;
		margin-bottom: var(--wp--custom--margin--baseline);
	}

	h3 + p {
		margin-top: 0;
	}

	> .wp-block-group {
		text-align: left;
		padding: var(--wp--custom--alignment--edge-spacing);
		border-top: 1px solid var(--wp--preset--color--light-grey);
		width: 100%;

		@include break-medium {
			flex-basis: 50%;
			flex-shrink: 0;
			flex-grow: 0;
			padding-top: 60px;
			padding-bottom: 60px;

			&:nth-child(odd) {
				border-right: 1px solid var(--wp--preset--color--light-grey);
				padding-right: var(--wp--custom--alignment--edge-spacing);
			}

			&:nth-child(even) {
				padding-left: var(--wp--custom--alignment--edge-spacing);
			}
		}
	}
}

// Alternate dark version.
%footer-archive-dark {
	.footer-archive.wp-block-template-part {
		border-color: #1c2024;
	}

	.footer-archive .footer-archive-row[class*="wp-container-"] {
		background-color: var(--wp--preset--color--dark-grey);
		color: var(--wp--preset--color--white);
		border-color: #1c2024;

		> * {
			border-color: #1c2024;

			a {
				color: var(--wp--preset--color--blue-3);
			}
		}
	}
}
