/*
 * Styles for the default category archives, and its variations.
 */

body.category .site-content-container {
	padding-left: var(--wp--custom--layout--content-meta-size);
	margin: var(--wp--custom--alignment--edge-spacing);

	// Some categories include a decorative drop-cap-like character.
	&:before {
		display: block;
		width: 350px;
		color: var(--wp--preset--color--blue-1);
		font-size: 380px;
		font-family: var(--wp--custom--heading--typography--font-family);
		text-align: center;
		line-height: 1;
		position: fixed;
		top: 180px;
		left: var(--wp--custom--alignment--edge-spacing);
		z-index: -1;
		pointer-events: none;
	}
}

body.category-awards {
	.site-content-container:before {
		content: "A";
	}
}

body.category-community {
	background-color: var(--wp--preset--color--off-white);

	.local-header {
		--bar-background-color: var(--wp--preset--color--white);
		--bar-text-color: var(--wp--preset--color--darker-grey);
		--bar-link-color: var(--wp--preset--color--blue-1);
		--bar-link-hover-color: var(--wp--preset--color--blue-5);
	}

	.site-content-container {
		padding: 0;
		margin: 0 4px;
	}

	.wp-block-post {
		position: relative;
		aspect-ratio: 1 / 1;
		padding: 0;
		margin: 4px;
		overflow: hidden;
		width: calc(25% - 8px) !important;

		.wp-block-post-title {
			font-size: var(--wp--preset--font-size--extra-large);
			line-height: 1.3;

			a {
				display: flex;
				align-items: flex-end;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				padding: 24px 24px 60px 24px;
				z-index: 1;
			}
		}

		.wp-block-post-featured-image {
			img {
				filter: grayscale(100%);
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
				transition: opacity 0.25s linear, transform 3s linear;
			}
		}

		.entry-meta {
			// Override the padding from excerpt.scss
			margin: 0 !important;
			position: absolute;
			right: 24px;
			bottom: 24px;
			left: 24px;

			.wp-block-post-date {
				font-size: var(--wp--preset--font-size--small);
			}
		}

		&.has-post-thumbnail {
			background-color: var(--wp--preset--color--blue-2);

			.wp-block-post-title,
			.entry-meta {
				display: none;
			}

			&:hover .wp-block-post-featured-image img {
				opacity: 0.8;
				transform: scale(1.1);
			}
		}

		&:not(.has-post-thumbnail) {
			transition: background-color 0.15s ease-in-out;

			&:nth-of-type(even) {
				background-color: var(--wp--preset--color--blue-1);
				color: var(--wp--preset--color--white);
				vertical-align: bottom;
			}

			&:nth-of-type(odd) {
				background-color: var(--wp--preset--color--blue-2);
				color: var(--wp--preset--color--white);
				vertical-align: bottom;
			}

			&:hover {
				background-color: var(--wp--preset--color--darker-grey);
			}

			a, a:hover {
				color: white;
			}
		}
	}
}

body.category-development {
	// Set the background color for the local-header
	.local-header {
		--bar-background-color: var(--wp--preset--color--green);
		--bar-text-color: var(--wp--preset--color--black);
		--bar-link-color: var(--wp--preset--color--black);
		--bar-link-hover-color: var(--wp--preset--color--black);
	}

	// Set the category drop-cap
	.site-content-container:before {
		content: "D";
		color: var(--wp--preset--color--green);
	}
}

body.category-events {
	.site-content-container:before {
		content: "E";
	}
}

body.category-features {
	.site-content-container:before {
		content: "F";
	}
}

body.category-general {
	.site-content-container:before {
		content: "G";
	}
}

body.category-heropress {
	.site-content-container:before {
		content: "h";
	}
}

body.category-interviews {
	.site-content-container:before {
		content: "I";
	}
}

body.category-meta {
	.site-content-container:before {
		content: "M";
	}
}

body.category-month-in-wordpress {
	// Set the page background color to darker-grey
	background-color: var(--wp--preset--color--darker-grey);

	// Set the background color for the local-header
	.local-header {
		--bar-background-color: var(--wp--preset--color--dark-grey);
		--bar-text-color: var(--wp--preset--color--white);
		--bar-link-color: var(--wp--preset--color--off-white);
		--bar-link-hover-color: var(--wp--preset--color--off-white-2);

		// Since the bar is the same color as the W.org header, we
		// add a border to help separate them.
		border-top: 1px solid var(--wp--preset--color--darker-grey);
	}

	.site-content-container {
		padding-left: 0;
	}

	@extend %footer-archive-dark;
}

body.category-releases {
	// Set the background to blue-1.
	background-color: var(--wp--preset--color--blue-1);

	// Use the darker blue for the local-header
	.local-header {
		--bar-background-color: var(--wp--preset--color--blue-5);
	}

	.site-content-container {
		padding-left: 0;
		color: white;

		a,
		a:hover {
			color: white;
		}
	}

	@extend %footer-archive-dark;
}

body.category-security {
	.local-header {
		--bar-background-color: var(--wp--preset--color--coral-red);
		--bar-text-color: var(--wp--preset--color--black);
		--bar-link-color: var(--wp--preset--color--black);
		--bar-link-hover-color: var(--wp--preset--color--darker-grey);
	}

	// Set the category drop-cap
	.site-content-container:before {
		content: "S";
		color: var(--wp--preset--color--coral-red);
	}
}

body.category-themes {
	.site-content-container:before {
		content: "T";
	}
}

body.category-uncategorized,
body.category-updates {
	.site-content-container:before {
		content: "U";
	}
}

body.category-wordcamp {
	.site-content-container:before {
		content: "W";
	}
}
