/*
 * Styles for the default category archives, and its variations.
 */

body.category .site-content-container {
	padding-left: var(--wp--custom--layout--content-meta-size);
	margin: var(--wp--custom--alignment--edge-spacing);

	// Some categories include a decorative drop-cap-like character.
	&:before {
		display: block;
		width: 350px;
		color: var(--wp--preset--color--black);
		font-size: 420px;
		font-family: var(--wp--custom--heading--typography--font-family);
		text-align: center;
		line-height: 1;
		position: fixed;
		top: 150px;
		left: var(--wp--custom--alignment--edge-spacing);
		z-index: -1;
		pointer-events: none;
	}
}

body.category-community {
	background-color: var(--wp--preset--color--off-white);

	.local-header {
		--bar-background-color: var(--wp--preset--color--white);
		--bar-text-color: var(--wp--preset--color--darker-grey);
		--bar-link-color: var(--wp--preset--color--blue-1);
		--bar-link-hover-color: var(--wp--preset--color--blue-5);
	}

	.site-content-container {
		padding-left: 0;
	}
}

body.category-development {
	// Set the background color for the local-header
	.local-header {
		--bar-background-color: var(--wp--preset--color--green);
		--bar-text-color: var(--wp--preset--color--black);
		--bar-link-color: var(--wp--preset--color--black);
		--bar-link-hover-color: var(--wp--preset--color--black);
	}

	// Set the category drop-cap
	.site-content-container:before {
		content: "D";
		color: var(--wp--preset--color--green);
	}
}

body.category-events {

}

body.category-month-in-wordpress {
	// Set the page background color to darker-grey
	background-color: var(--wp--preset--color--darker-grey);

	// Set the background color for the local-header
	.local-header {
		--bar-background-color: var(--wp--preset--color--dark-grey);
		--bar-text-color: var(--wp--preset--color--white);
		--bar-link-color: var(--wp--preset--color--off-white);
		--bar-link-hover-color: var(--wp--preset--color--off-white-2);

		// Since the bar is the same color as the W.org header, we
		// add a border to help separate them.
		border-top: 1px solid var(--wp--preset--color--darker-grey);
	}

	.site-content-container {
		padding-left: 0;
	}

	@extend %footer-archive-dark;
}

body.category-releases {
	// Set the background to blue-1.
	background-color: var(--wp--preset--color--blue-1);

	// Use the darker blue for the local-header
	.local-header {
		--bar-background-color: var(--wp--preset--color--blue-5);
	}

	.site-content-container {
		padding-left: 0;
		color: white;

		a,
		a:hover {
			color: white;
		}
	}

	@extend %footer-archive-dark;
}

body.category-security {
	.local-header {
		--bar-background-color: var(--wp--preset--color--coral-red);
		--bar-text-color: var(--wp--preset--color--black);
		--bar-link-color: var(--wp--preset--color--black);
		--bar-link-hover-color: var(--wp--preset--color--darker-grey);
	}

	// Set the category drop-cap
	.site-content-container:before {
		content: "S";
		color: var(--wp--preset--color--coral-red);
	}
}
