/*
 * Styles for the default category archives, and its variations.
 */

body.category-community {
	@extend %local-header-off-white;
}

body.category-events {
	@extend %local-header-off-white;
}

body.category-releases {
	.wp-site-blocks {
		background-color: var(--wp--preset--color--blue-1);
	}

	.site-content-container {
		color: var( --wp--preset--color--white );

		a,
		.wp-block-query-pagination {
			color: var( --wp--preset--color--white );
		}

		.wp-block-post-title {
			--post-title-hover-color: var( --wp--preset--color--white );
		}
	}

	& .local-header {
		--bar-background-color: var(--wp--preset--color--blue-5);
	}

	@extend %footer-archive-dark;
}

body.category-month-in-wordpress {
	@extend %local-header-dark;

	.site-content-container {
		color: var( --wp--preset--color--off-white-2 );
	}

	@extend %footer-archive-dark;
}

body.category-development {
	@extend %local-header-lightish;

	& .local-header {
		--bar-background-color: var( --wp--preset--color--green );
	}
}

body.category-security {
	@extend %local-header-lightish;

	& .local-header {
		--bar-background-color: var( --wp--preset--color--coral-red );
	}
}


body.category-community {
	@extend %local-header-lightish;

	li.post {
		//margin: 1px;


	}

	.wp-block-post-title,
	.wp-block-post-date {
		font-size: var( --wp--preset--font--size--tiny);
	}

	// Alternating blue-1 and blue-2 for non-thumbnail posts
	li.post:not(.has-post-thumbnail):nth-of-type(even) {
		background-color: var(--wp--preset--color--blue-1);
		color: var(--wp--preset--color--white);
		vertical-align: bottom;
	}
	li.post:not(.has-post-thumbnail):nth-of-type(odd) {
		background-color: var(--wp--preset--color--blue-2);
		color: var(--wp--preset--color--white);
		vertical-align: bottom;
	}

	// Featured image only for posts that have one
	li.post.has-post-thumbnail .wp-block-post-title,
	li.post.has-post-thumbnail .entry-meta {
		display: none;
	}

	// B&W featured image
	li.post.has-post-thumbnail .wp-block-post-featured-image {
		filter: grayscale(100%);
		object-fit: cover;
	}
}