// Default/light version.
.local-header {
	--bar-text-color: var(--wp--preset--color--white);
	--bar-link-color: var(--wp--preset--color--white);
	--bar-background-color: var(--wp--preset--color--blue-1);

	min-height: 56px;
	background-color: var( --bar-background-color );
	color: var(--bar-text-color);

	@extend %bottom-mask;

	.wp-site-blocks & {
		margin-top: 0;
	}

	&__navigation {
		position: relative;

		@include break-mobile {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}

		[class*="wp-container-"] & {
			padding: 15px 0.5em;

			@include break-mobile {
				padding: 0 0.5em;
			}

			@include break-xlarge {
				padding: 0;
			}
		}
	}

	&__breadcrumb {
		color: var(--bar-text-color);

		@include break-mobile {
			line-height: 50px;
		}

		&-current {
			display: none;

			body.category & {
				display: inline-block;
			}

			font-family: var(--wp--preset--font-family--inter);
			font-size: 1rem;
			font-weight: 700;

			[class*="wp-container-"] & {
				margin-top: 0;
			}

			&:before {
				content: "\0020\00B7\0020";
			}
		}

		.wp-block-navigation {
			display: inline-block;
		}

		a {
			color: var(--bar-link-color);
		}
	}

	&__categories {
		--flex-items-per-column: 8;

		/* The scrollbar covers up part of the edge padding, so this offsets that. */
		padding-right: var(--wp--custom--alignment--scroll-bar-width);

		@include break-medium {
			--flex-items-per-column: 4;
		}

		[class*="wp-container-"] & {
			margin-top: 0;
		}

		// This selector overcomes the overly generic `input[type=checkbox] + label` rule in the reset.
		label#{&}-label {
			display: block;
			color: var(--bar-text-color);
			margin: 0;
			padding: 15px 0;
			cursor: pointer;

			@include break-mobile {
				line-height: 50px;
				padding: 0;
				text-align: right;
			}

			span {
				padding: 0 3px 0 0;
			}

			svg {
				vertical-align: middle;
			}
		}

		&-toggle {
			opacity: 0;
			width: 0;
			height: 0;
			appearance: none;
			position: fixed;

			&:checked {
				& + label {
					@include break-mobile {
						height: calc( 1rem * var(--wp--custom--body--typography--line-height) * var(--flex-items-per-column) + 125px );
					}

					span {
						text-decoration: underline;
					}

					svg {
						transform: rotate( 180deg );
					}
				}

				& ~ .wp-block-categories {
					display: flex;
					opacity: 1;
					animation-duration: 400ms;
					animation-name: categories-fade-in;

					@at-root {
						@keyframes categories-fade-in {
							from {
								opacity: 0;
							}

							to {
								opacity: 1;
							}
						}
					}
				}
			}
		}

		.wp-block-categories {
			display: none;
			opacity: 0;
			flex-direction: column;
			flex-wrap: wrap;
			width: calc( min( 100%, var(--wp--custom--layout--wide-size) ) );
			color: var(--bar-text-color);
			list-style: none;
			padding: 0 0 2em 0;

			@include break-mobile {
				padding: 0 var(--wp--custom--alignment--edge-spacing);
				position: absolute;
				left: 0;
				top: 75px;
				max-height: calc( 1rem * var(--wp--custom--body--typography--line-height) * var(--flex-items-per-column) );
			}

			[class*="wp-container-"] & {
				margin-top: 0;
			}

			a {
				color: var(--bar-link-color);
			}

			.current-cat {
				font-weight: 700;

				&:before {
					content: "\0020\00B7\0020";
				}
			}
		}
	}
}

// Alternate off-white version.
%local-header-off-white {
	.wp-site-blocks {
		background-color: var(--wp--preset--color--off-white);

		.local-header {
			--bar-background-color: var(--wp--preset--color--white);
			--bar-text-color: var(--wp--preset--color--black);
			--bar-link-color: var(--wp--preset--color--blue-1);
		}
	}
}

// Alternate version with a color light enough to need dark text. e.g., Security category.
%local-header-lightish {
	.local-header {
		--bar-text-color: var(--wp--preset--color--black);
		--bar-link-color: var(--wp--preset--color--black);
	}
}

// Alternate dark version.
%local-header-dark {
	.wp-site-blocks {
		background-color: var(--wp--preset--color--darker-grey);

		.local-header {
			--bar-background-color: var( --wp--preset--color--dark-grey );
		}
	}
}

//We need this at the bottom of the file for proper cascading
%bottom-mask {
	position: relative;
	background-color: transparent;
    background: linear-gradient(to top, transparent 56px, var( --bar-background-color ) 56px 100%);

	&:after {
		content: "";
		height: 58px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		mask-image: url('images/local-nav-mask.svg');
		mask-repeat: no-repeat;
		mask-size: cover;
		background-color: var( --bar-background-color );
	}
}