// Default/light version.
.local-header {
	--bar-text-color: var(--wp--preset--color--white);
	--bar-link-color: var(--wp--preset--color--white);
	--bar-background-color: var(--wp--preset--color--blue-1);

	min-height: 56px;
	background-color: var(--bar-background-color);
	color: var(--bar-text-color);

	@extend %bottom-mask;

	.wp-site-blocks & {
		margin-top: 0;
	}

	&__navigation {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: column;

		@include break-mobile {
			flex-direction: row;
		}

		[class*="wp-container-"] & {
			padding: 0 0.5em;

			@include break-xlarge {
				padding: 0;
			}
		}
	}

	&__breadcrumb {
		color: var(--bar-text-color);
		line-height: 50px;

		&-current {
			display: none;

			body.category & {
				display: inline-block;
			}

			font-family: var(--wp--preset--font-family--inter);
			font-size: 1rem;
			font-weight: 700;

			[class*="wp-container-"] & {
				margin-top: 0;
			}

			&::before {
				content: "\0020\00B7\0020";
			}
		}

		.wp-block-navigation {
			display: inline-block;
		}

		a {
			color: var(--bar-link-color);
		}
	}

	&__categories {
		--flex-items-per-column: 8;
		width: 100%;

		@include break-mobile {

			/* The scrollbar covers up part of the edge padding, so this offsets that. */
			padding-right: var(--wp--custom--alignment--scroll-bar-width);
			width: auto;
		}

		@include break-medium {
			--flex-items-per-column: 4;
		}

		[class*="wp-container-"] & {
			margin-top: 0;
		}

		// This selector overcomes the overly generic `input[type=checkbox] + label` rule in the reset.
		label#{&}-label {
			display: block;
			color: var(--bar-text-color);
			margin: 0;
			padding: 15px 0;
			cursor: pointer;
			text-align: right;

			@include break-mobile {
				line-height: 50px;
				padding: 0;
				text-align: right;
			}

			span {
				padding: 0 3px 0 0;
			}

			svg {
				vertical-align: middle;
				stroke: currentColor;
			}
		}

		&-toggle {
			opacity: 0;
			width: 0;
			height: 0;
			appearance: none;
			position: fixed;

			&:checked {
				+ label {

					@include break-mobile {
						height: calc(1rem * var(--wp--custom--body--typography--line-height) * var(--flex-items-per-column) + 125px);
					}

					span {
						text-decoration: underline;
					}

					svg {
						transform: rotate(180deg);
					}

					&::before {
						content: "";
						display: block;
						position: fixed;
						top: 0;
						left: 0;
						width: 100%;
						height: 100vh;
						background-color: rgba(0, 0, 0, 0.5);
						z-index: -1;
						animation-duration: 400ms;
						animation-name: overlay-fade-in;
					}
				}

				~ .wp-block-categories {
					display: flex;
					opacity: 1;
					animation-duration: 400ms;
					animation-name: categories-fade-in;

					@at-root {

						@keyframes categories-fade-in {
							from {
								opacity: 0;
							}

							to {
								opacity: 1;
							}
						}
					}
				}
			}

			&:focus {
				~ label span {
					outline: 1px dotted currentColor;
				}

			}
		}

		.wp-block-categories {
			display: none;
			opacity: 0;
			position: relative;
			right: calc(var(--wp--custom--alignment--edge-spacing) * -1);
			flex-direction: column;
			flex-wrap: wrap;
			width: calc(min(100%, var(--wp--custom--layout--wide-size)));
			color: var(--bar-text-color);
			list-style: none;
			padding: 0 0 2em 0;
			text-align: right;

			@include break-mobile {
				padding: 0 var(--wp--custom--alignment--edge-spacing);
				position: absolute;
				left: 0;
				right: auto;
				top: 75px;
				max-height: calc(1rem * var(--wp--custom--body--typography--line-height) * var(--flex-items-per-column));
				text-align: left;
			}

			[class*="wp-container-"] & {
				margin-top: 0;
			}

			li {
				padding: 0.25em calc(var(--wp--custom--alignment--edge-spacing) - 4px) 0.25em 0;
				border-right: 4px solid transparent;

				@include break-mobile {
					padding: 0.25em 0;
				}
			}

			.current-cat {
				font-weight: 700;
				border-right-color: currentColor;

				@include break-mobile {
					border: none;

					&::before {
						content: "\0020\00B7\0020";
					}
				}
			}

			a {
				color: var(--bar-link-color);
			}
		}
	}
}

// Alternate off-white version.
%local-header-off-white {
	.wp-site-blocks {
		background-color: var(--wp--preset--color--off-white);

		.local-header {
			--bar-background-color: var(--wp--preset--color--white);
			--bar-text-color: var(--wp--preset--color--black);
			--bar-link-color: var(--wp--preset--color--blue-1);
		}
	}
}

// Alternate version with a color light enough to need dark text. e.g., Security category.
%local-header-lightish {
	.local-header {
		--bar-text-color: var(--wp--preset--color--black);
		--bar-link-color: var(--wp--preset--color--black);
	}
}

// Alternate dark version.
%local-header-dark {
	.wp-site-blocks {
		background-color: var(--wp--preset--color--darker-grey);

		.local-header {
			--bar-background-color: var(--wp--preset--color--dark-grey);
		}
	}
}

//We need this at the bottom of the file for proper cascading
%bottom-mask {
	position: relative;
	background: transparent;
	background: linear-gradient(to top, transparent 56px, var(--bar-background-color) 56px 100%);

	&::after {
		content: "";
		height: 58px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		mask-image: url(images/local-nav-mask.svg);
		mask-repeat: no-repeat;
		mask-size: cover;
		background-color: var(--bar-background-color);
	}
}
