// Default/light version.
.local-header {
	--bar-min-height: 58px;
	--bar-text-color: var(--wp--preset--color--white);
	--bar-link-color: var(--wp--preset--color--white);
	--bar-link-hover-color: var(--wp--preset--color--light-salmon);
	--bar-background-color: var(--wp--preset--color--blue-1);
	background-color: var(--bar-background-color);
	color: var(--bar-text-color);
	min-height: var( --bar-min-height );

	@extend %bottom-mask;

	// A container with a paint stroke effect that holds both
	// the breadcrumbs and category dropdown.
	&__navigation {
		// Allows for absolute positioning for the Categories
		// toggle button.
		position: relative;

		padding: 0 0 0 24px;

		@include break-small {
			padding: 0 var(--wp--custom--alignment--edge-spacing);
		}
	}

	// Breadcrumbs show the lineage of pages based on the current
	// page. It contains a link for each parent.
	&__breadcrumb {
		display: flex;
		align-items: center;
		min-height: var( --bar-min-height );
		color: var(--bar-text-color);

		// The current item is highlighted.
		&-current {
			font-family: var(--wp--preset--font-family--inter);
			font-size: 1rem;
			font-weight: 700;

			// This ensures that the square separator
			// is reliably centered.
			display: flex;
			align-items: center;

			[class*="wp-container-"] & {
				margin-top: 0;
			}

			&::before {
				height: 4px;
				width: 4px;
				content: '';
				background: var(--bar-text-color);
				display: inline-block;
				margin: 0 12px;
			}
		}
	}

	&__categories {
		// Override the default margin applied to the block.
		[class*="wp-container-"] & {
			margin-top: 0;
		}

		// The "Categories" label itself
		label#{&}-label {
			display: flex;
			align-items: center;
			text-align: right;
			color: var(--bar-text-color);
			cursor: pointer;
			user-select: none;
			margin: 0;
			padding: 0 12px;
			min-height: var( --bar-min-height );
			position: absolute;
			top: 0;
			right: 9px;

			@include break-small {
				right: 30px;
			}

			svg {
				margin-left: 12px;
				stroke: currentColor;
				transition: transform 0.15s cubic-bezier(0.34, 1.56, 0.64, 1);
			}

			&:hover {
				color: var( --bar-link-hover-color );
			}
		}

		// The (hidden) checkbox which allows
		// for toggling the menu on and off.
		&-toggle {
			display: none;

			+ label {
				// The scrim that covers the content below
				// with a dark overlay. It's hidden by default.
				&::before {
					content: "";
					display: block;
					position: fixed;
					top: 0;
					left: 0;
					width: 100%;
					height: 100vh;
					opacity: 0;
					pointer-events: none;
					background-color: rgba(0,0,0,0.5);
					z-index: -1;
					transition: opacity 0.15s ease-in-out;
				}
			}

			// When toggled, underline the label, rotate the
			// icon, fade-in the scrim, and display the categories.
			&:checked {
				+ label {
					span {
						text-decoration: underline;
					}

					svg {
						transform: rotate(180deg);
					}

					// Display the scrim when toggled.
					&::before {
						opacity: 1;
						pointer-events: auto;
					}
				}

				~ .wp-block-categories {
					display: flex;
				}
			}
		}

		// The list of categories which is toggled
		// on and off using the label+checkbox above.
		.wp-block-categories {
			list-style: none;
			padding: 0 0 30px 0;
			display: none;
			flex-direction: column;
			flex-wrap: wrap;

			// Override the default margin applied to the block.
			[class*="wp-container-"] & {
				margin: 0;
			}

			li {
				padding: 6px 40px 6px 24px;
				text-align: right;

				a {
					display: block;
				}
			}

			@include break-small {
				flex-direction: row;

				li {
					width: 100%;
					padding: 4px 0;
					text-align: left;
				}
			}

			@include break-medium {
				li {
					width: 50%;
				}
			}

			@include break-large {
				li {
					width: 25%;
				}
			}

			@include break-wide {
				li {
					width: 20%;
				}
			}

			// If currently viewing a category, highlighted
			// that category in the list.
			.current-cat {
				font-weight: 700;
				position: relative;

				// On small viewports the current category is highlighted
				// using a right-side border.
				&::before {
					height: auto;
					width: 4px;
					content: '';
					background: var(--bar-text-color);
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: auto;
				}

				@include break-small {
					// On large viewports the current category is highlighted
					// using padding an a square.
					padding-right: 0;
					padding-left: 16px;

					&::before {
						height: 4px;
						top: calc( 50% - 2px );
						right: auto;
						left: 0;
					}
				}
			}
		}
	}

	a {
		color: var(--bar-link-color);

		&:hover {
			color: var( --bar-link-hover-color );
		}
	}
}

// Alternate off-white version.
%local-header-off-white {
	.wp-site-blocks {
		background-color: var(--wp--preset--color--off-white);

		.local-header {
			--bar-background-color: var(--wp--preset--color--white);
			--bar-text-color: var(--wp--preset--color--black);
			--bar-link-color: var(--wp--preset--color--blue-1);
			--bar-link-hover-color: var(--wp--preset--color--blue-1);
		}
	}
}

// Alternate version with a color light enough to need dark text. e.g., Security category.
%local-header-lightish {
	.local-header {
		--bar-text-color: var(--wp--preset--color--black);
		--bar-link-color: var(--wp--preset--color--black);
	}
}

// Alternate dark version. (Month in WordPress)
%local-header-dark {
	.wp-site-blocks {
		background-color: var(--wp--preset--color--darker-grey);

		.local-header {
			--bar-background-color: var(--wp--preset--color--dark-grey);
			--bar-link-color: var(--off-white);
			--bar-link-hover-color: var(--off-white-2);
		}
	}
}

//We need this at the bottom of the file for proper cascading
%bottom-mask {
	position: relative;
	background: transparent;
	background: linear-gradient(to top, transparent 56px, var(--bar-background-color) 56px 100%);

	&::after {
		content: "";
		min-height: var( --bar-min-height );
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		mask-image: url(images/local-nav-mask.svg);
		mask-repeat: no-repeat;
		mask-size: cover;
		mask-position: 0;
		background-color: var(--bar-background-color);
	}
}
