@mixin minimal-player {
	.player__artwork,
	.currently-playing,
	.player-panels-nav,
	.player-btn__rwd,
	.player-btn__fwd,
	.player-btn__speed,
	.ssp-loader,
	.player-panels {
		display: none;
	}

	.player {
		height: auto;
		background-color: var(--wp--preset--color--blue-2);
	}

	.player__main {
		grid-template-columns: 1fr;
		height: auto;
	}

	.player__body {
		padding: 14px;
	}

	.ssp-progress {
		height: 6px;
		margin: 0 13px 0 0;
	}

	.play-progress {
		grid-gap: 0;
		align-items: center;
		margin-left: 0 !important;
		margin-top: 0;

		> div:not(.play-pause-controls) {
			display: flex;
			align-items: center;
		}

		.play-pause-controls {
			background: transparent;
			border-radius: 0;
			height: 20px;
			width: 20px;

			.play-btn,
			.pause-btn {
				border-radius: 0;
				height: 20px;
				width: 20px;
				padding: 0;
			}

			.pause-btn {
				background-size: contain;
				background-color: transparent;
				background-position: center center;
			}

			.play-btn {
				background: var(--wp--preset--color--white);
				mask-image: url(images/podcast-player/play.svg);
				mask-size: contain;
				mask-position: center center;
				mask-repeat: no-repeat;
			}
		}
	}

	.playback__controls {
		grid-gap: 0;

		button {
			opacity: 1;
		}

		.player-btn__volume {
			background-color: var(--wp--preset--color--white);
			mask-image: url(images/podcast-player/sound.svg);
			display: block !important;
		}
	}

	.playback {
		padding-top: 0;
	}

	.playback__timers {
		opacity: 1;
		order: -1;
		margin-right: 25px;
		color: var(--wp--preset--color--white);
		display: flex;
		align-items: center;
		font-size: var(--wp--preset--font-size--tiny);

		span,
		.ssp-timer {
			display: none;
		}
	}
}

.castos-player {
	font-family: var(--wp--preset--font-family--inter);

	&.dark-mode {
		.player {
			background: var(--wp--preset--color--off-white-2);
		}

		.episode-title,
		.currently-playing .show,
		.subscribe-icons a,
		.player-panel h3,
		.player__podcast-title,
		.playback__timers,
		.player-btn__speed {
			color: var(--wp--preset--color--black);
		}

		.player-panels {
			color: var(--wp--preset--color--white);
		}

		.player-panels-nav button {
			text-transform: none;
			color: var(--wp--preset--color--blue-1);
			font-family: var(--wp--preset--font-family--inter);
		}

		.playback__controls .player-btn__volume,
		.playback__controls .player-btn__rwd,
		.playback__controls .player-btn__fwd {
			background-color: var(--wp--preset--color--black);
		}

		.player-btn__speed {
			border-color: var(--wp--preset--color--black);
		}

		.progress,
		.ssp-progress {
			height: 5px;
			background-color: var(--wp--preset--color--white);
		}

		@media (max-width: 768px) {
			@include minimal-player;
		}
	}

	.player__main {
		grid-gap: 25px;
	}

	.player__body {
		padding: 25px 25px 25px 0;
	}

	.episode-title {
		font-family: var(--wp--preset--font-family--inter);
		font-weight: 700;
		margin-top: 0;
	}

	.playback__timers {
		font-size: 10px;
	}

	.player-panels-nav {
		justify-self: flex-end;
	}

	.progress__filled {
		background-color: var(--wp--preset--color--blue-1);
	}

	.play-progress .play-pause-controls .play-btn {
		background-image: url(images/podcast-player/play.svg);
		background-position: 17px 14px;
	}

	.play-progress .play-pause-controls .pause-btn {
		background-color: var(--wp--preset--color--blue-1);
		background-image: url(images/podcast-player/pause.svg);
		background-position: 8px;
	}

	button.play-btn:focus {
		transform: scale(1.1);
	}

	button:focus {
		opacity: 1;
		outline: 1px dotted currentColor !important;
	}

	button.player-btn__speed {
		border: 1px solid #4b4659 !important;
	}

	.share-icon:focus,
	.player-panel .player-panel-row button:focus {
		background-color: #df4e4f !important;
	}

	.player-panels:focus-within .player-panel {
		transform: translateY(0);
	}

	.player-panels .player-panel:focus-within {
		z-index: 9;
	}

	.player-panels .player-panel {
		display: none;
	}

	.player-panels .player-panel.open {
		display: block;
	}

}

/* Reduced version of the player */
.podcast-title {
	.castos-player {
		@include minimal-player;
	}
}
