.castos-player {
	font-family: var(--wp--preset--font-family--inter);

	&.dark-mode {
		.player {
			background: var(--wp--preset--color--off-white-2);
		}

		.episode-title,
		.currently-playing .show,
		.subscribe-icons a,
		.player-panel h3,
		.player-panel .player-panel-row .title,
		.playback__timers,
		.player-btn__speed {
			color: var(--wp--preset--color--black);
		}

		.player-panels-nav button {
			text-transform: none;
			color: var(--wp--preset--color--blue-1);
			font-family: var(--wp--preset--font-family--inter);
		}

		.subscribe-icons span,
		.share-icon span,
		.playback__controls .player-btn__volume,
		.playback__controls .player-btn__rwd,
		.playback__controls .player-btn__fwd {
			background-color: var(--wp--preset--color--black);
		}

		.player-btn__speed {
			border-color: var(--wp--preset--color--black);
		}

		.progress,
		.ssp-progress {
			height: 5px;
			background-color: var(--wp--preset--color--white);
		}
	}

	.player__main {
		grid-gap: 25px;
	}

	.player__body {
		padding: 25px 25px 25px 0;
	}

	.episode-title {
		font-family: var(--wp--preset--font-family--inter);
		font-weight: 700;
		margin-top: 0;
	}

	.playback__timers {
		font-size: 10px;
	}

	.player-panels-nav {
		justify-self: flex-end;
	}

	.progress__filled {
		background-color: var(--wp--preset--color--blue-1);
	}

	.play-progress .play-pause-controls .play-btn {
		background-image: url(images/podcast-player/play.svg);
		background-position: 17px 14px;
	}

	.play-progress .play-pause-controls .pause-btn {
		background-color: var(--wp--preset--color--blue-1);
		background-image: url(images/podcast-player/pause.svg);
		background-position: 8px;
	}

}
