.query-title-banner {
	background-color: var(--wp--preset--color--blue-1);
	margin-top: 0;

	.wp-block-query-title {

		/*
		 * Hide all of them by default because there are 3 of them, but only one should be shown at a time.
		 * See `query-title-banner.html` for details.
		 */
		display: none;

		font-size: 7.5rem;
		color: var(--wp--preset--color--white);
		padding-bottom: 0.5em;
	}
}

body.archive .query-title-banner__title,
body.news-posts-index .query-title-banner__title-all-posts,
body.search .query-title-banner__title-search-results {
	display: block;
}

body.news-front-page,
body.news-posts-index,
body.search,
body.archive:not(.category) {
	--bar-background-color: var(--wp--preset--color--blue-1);

	.local-header {

		/* Add a background to hide the mask when menu is not open so it blends with `query-title-banner`. */
		&::before {
			content: "";
			position: absolute;
			height: 56px;
			top: 0;
			left: 0;
			right: 0;
			background-color: var(--bar-background-color);
		}
	}

	.query-title-banner {

		@extend %bottom-mask;
	}
}
