.site-header-container {
	width: 100%;

	// Don't fix the header on mobile, because screen real estate is limited.
	// Matches the breakpoint for the admin bar.
	@include break-small {
		position: fixed;
	}
}


// Since the site header has a dynamic height, depending on the viewport width, this allows us to
// offset the content by the same amount so it isn't covered by the visible fixed header.
// See https://stackoverflow.com/a/59853252
.site-header-offset {
	display: none;

	@include break-small {
		display: block;
		visibility: hidden; // This removes the element and descendents from the accessibility tree.
	}
}
