// Setup the main container to use a flex box-model
// allowing us to simplify the layout and "sticky" bar.
.wp-site-blocks {
	display: flex;

	// The container for the site-specific (/news/) menu bar.
	.site-header-container {
		position: sticky;
		top: 0;
	}
}
