// The container for the site-specific (/news/) menu bar.
.site-header-container {

	@include break-small {
		position: sticky;
		top: 0;
		z-index: 10;
	}

	body.admin-bar & {
		padding-top: var(--wp-admin--admin-bar--height, 0);
	}
}
