@import "button-mixins";

/**
 * Button
 */

// Uses `wp-block` to catch other blocks that use the wp-block-button__link class, like the subscription form.
[class*="wp-block"] {
	.wp-block-button__link {

		@include button-color-styles;
		@include button-main-styles;

		background-color: var(--wp--preset--color--blue-1);
		color: var(--wp--preset--color--white);
		padding: 10px 19px;
		border: none;
		border-radius: 2px;
	}

	&.is-style-outline {
		.wp-block-button__link {
			--wp--custom--button--color--text: var(--wp--custom--button--border--color);
			--wp--custom--button--color--background: transparent;

			@include button-border-styles;
			@include button-color-styles;
		}
	}
}
