.wp-block-post-title {
	--post-title-hover-color: var(--wp--preset--color--blue-1);

	a {
		color: inherit;

		&:hover,
		&:focus {
			color: var(--post-title-hover-color);
		}
	}

	.wp-block-query & {
		font-size: var(--wp--custom--h2--typography--font-size);
	}
}
