// Both selectors for increased specificity.
.wp-block-pullquote.is-style-solid-color,
.wp-block-pullquote:not(.is-style-solid-color) {
	min-height: 430px;
	padding: 40px 0 0;
	background-image: url(./images/quotemark.svg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: contain;
	font-size: 40px;
	text-align: var(--wp--custom--pullquote--typography--text-align);
	margin-top: calc( var(--wp--custom--margin--vertical) * 1.333);
	margin-bottom: calc( var(--wp--custom--margin--vertical) * 3);

	&.alignfull {
		background-position: -45px 0;
		padding-left: var(--wp--custom--margin--horizontal);
		padding-right: var(--wp--custom--margin--horizontal);
	}

	@include break-medium {
		padding: 115px 0 0 185px;
		font-size: 50px;

		&.alignfull {
			padding: 115px var(--wp--custom--margin--horizontal) 0 185px;
		}
	}

	blockquote {
		padding: 0;
		margin: 0;

		p {
			font-size: 1em;
			padding: 0;
			margin: 0;
			line-height: inherit;
		}

		cite {
			display: block;
			font-size: 20px;
			font-style: var(--wp--custom--pullquote--citation--typography--font-style);
			font-family: var(--wp--custom--pullquote--citation--typography--font-family);
			margin-top: var(--wp--custom--pullquote--citation--spacing--margin--top);

			&::before {
				content: "—";
			}

			@include break-medium {
				font-size: var(--wp--custom--pullquote--citation--typography--font-size);
			}
		}
	}
}
