.query-navigation-container {
	padding: 2em 0;
}

.wp-block-query-pagination {
	display: inline-block;
	line-height: normal;
	color: var(--wp--preset--color--blue-1);
	position: relative;

	body:where(.archive, .blog.paged) & {
		padding-top: 40px;
		padding-bottom: 60px;
		gap: 0;
		margin-bottom: 30px;

		@include break-small-only() {
			display: flex;
			justify-content: center;

			&::after {
				mask-position: center;
			}
		}

		&::after {
			z-index: -1;
		}
	}

	.wp-block-query-pagination-next {
		z-index: 2;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: var(--wp--preset--color--off-white-2);
		mask-image: url(images/brush-stroke-short-blue-4.svg);
		mask-position: bottom left;
		mask-repeat: no-repeat;
		mask-size: contain;
		z-index: 1;

		@include break-wide() {
			bottom: 0;
			left: -50px;
		}
	}

	> .wp-block-query-pagination-previous,
	> .wp-block-query-pagination-numbers,
	> .wp-block-query-pagination-next {
		margin-bottom: 0;
		margin-right: 0;
	}

	.wp-block-query-pagination-previous {
		&::after {
			content: "\00B7";
			display: inline-block;
			padding: 0 8px;
		}
	}

	.wp-block-query-pagination-next {
		&::before {
			content: "\00B7";
			display: inline-block;
			padding: 0 8px;
		}
	}

	.wp-block-query-pagination-numbers {
		> * {
			display: inline-block;
			padding: 0 2px;
		}

		.current {
			text-decoration: underline;
		}
	}
}
