.query-navigation-container {
	padding: 2em 0;
}

.wp-block-query-pagination {
	display: inline-block;
	line-height: 7em; // stylelint-disable-line declaration-property-unit-allowed-list
	color: var(--wp--preset--color--blue-1);
	position: relative;

	.wp-block-query-pagination-next {
		z-index: 2;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 50px;
		right: 0;
		left: -50px;
		background-color: var(--wp--preset--color--off-white-2);
		mask-image: url(images/brush-stroke-short-blue-4.svg);
		mask-position: bottom left;
		mask-repeat: no-repeat;
		mask-size: contain;
		z-index: 1;
	}

	> .wp-block-query-pagination-previous,
	> .wp-block-query-pagination-numbers,
	> .wp-block-query-pagination-next {
		margin-bottom: 0;
		margin-right: 0;
	}

	.wp-block-query-pagination-numbers {
		&::before {
			content: "\00B7\0020";
			padding-left: 2px;
		}

		&::after {
			content: "\0020\00B7";
			padding-right: 2px;
		}

		> * {
			display: inline-block;
			padding: 0 2px;
		}

		.current {
			text-decoration: underline;
		}
	}
}
