.wp-block-quote.is-style-large,
.wp-block-quote {
	p {
		font-style: unset;
		margin-top: 0;
	}

	p:last-of-type {
		margin-bottom: calc(var(--wp--custom--margin--vertical) / 2);
	}

	p:last-child {
		margin-bottom: 0;
	}

	b,
	strong {
		// Quotes should never have bold text.
		font-weight: 400;
	}

	.wp-block-quote__citation, // For the editor
	cite {
		font-size: var(--wp--custom--quote--citation--typography--font-size);
		font-style: var(--wp--custom--quote--citation--typography--font-style);
		font-family: var(--wp--custom--quote--citation--typography--font-family);
	}

	// Always left-align text in quotes.
	&.has-text-align-center,
	&.has-text-align-right {
		text-align: left;
	}
}
