.footer-archive .wp-block-social-links.is-style-logos-only {
	margin-right: var(--wp--custom--margin--horizontal);

	.wp-block-social-link {
		padding: 0;
	}

	.wp-block-social-link-anchor {
		padding: 0;
	}
}
