.footer-archive .wp-block-social-links.is-style-logos-only {
	gap: calc( 0.5 * var( --wp--style--block-gap, 0.5em ) );
	flex-grow: 1;

	.wp-block-social-link {
		padding: 0;
	}

	.wp-block-social-link-anchor {
		padding: 0;
	}
}
