body.error404 {
	--oops-font-size: 47vw; // "Magic number" ala https://css-tricks.com/fitting-text-to-a-container/

	background-color: var(--wp--preset--color--dark-grey);

	.site-header-container {
		border-bottom: 1px solid var(--wp--preset--color--darker-grey);
	}

	.local-header {
		display: none;
	}

	.site-content-container {

		/*
		 * Prevent "oops" from creating a horizontal scroll.
		 * In some iOS versions, these rules also have to be applied to <html>, but that would bleed over to other
		 * pages. It's better to just let there be a scroll, since it's not a commonly used page.
		 */
		position: relative; // needed for overflow to work
		overflow: hidden;

		margin-top: 0;
		color: var(--wp--preset--color--off-white-2);
		padding-left: var(--wp--custom--alignment--edge-spacing);
		padding-right: var(--wp--custom--alignment--edge-spacing);

		@include break-small() {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-top: 100px;
			padding-bottom: 100px;

			// <html> has a `margin-top` that assumes the local header is present. That creates a gap when when
			// hide the local nav. We can't change <html> without affecting other pages, so instead we just push
			// this element up to cover the gap.
			margin-top: calc(-1 * var(--local-header-height));

			// Prevent the gap under the content container from growing too big.
			// The max will start cutting off the text after ~2500px, but that's an edge case.
			min-height: min(var(--oops-font-size), 975px);
		}
	}

	.error404__oops {
		z-index: -1;
		position: absolute;
		top: 14px;
		left: -4.9vw;
		font-family: var(--wp--preset--font-family--eb-garamond);
		color: var(--wp--preset--color--darker-grey);
		font-size: var(--oops-font-size);
		line-height: var(--oops-font-size);

		@include break-small() {
			top: calc(var(--oops-font-size) * -1.25);
			opacity: 0.6; // Make the overlaid text more readable.
		}
	}

	h1 {
		margin-top: calc(var(--oops-font-size) * 1.6);
		margin-bottom: 30px;
		font-size: 38px;
		line-height: 40px;

		@include break-small() {
			margin-top: 0;
			font-size: 70px;
			line-height: 72px;
		}
	}

	a {
		color: var(--wp--preset--color--blue-3);
		text-decoration: underline;
	}

	.site-content-container .wp-block-search.wp-block-search__button-inside {
		width: 100%;
		margin-top: 40px;
		background-color: var(--wp--preset--color--white);
		border-radius: var(--wp--custom--button--border--radius);

		@include break-small() {
			max-width: 400px;
		}

		.wp-block-search__inside-wrapper {
			border: none;
			padding: 0 15px 0 0;

			@include break-small() {
				padding: 0 8px 0 0;
			}

			.wp-block-search__input {
				font-size: 20px;
				-webkit-appearance: none; /* Remove duplicate magnifying glass icon on Safari-mobile. */

				padding: 12px 0 12px 19px;

				@include break-small() {
					padding: 6px 0 6px 14px;
					font-size: 14px;
				}
			}

			.wp-block-search__button {
				background-color: transparent;
				color: var(--wp--preset--color--black);
				margin: 0;
				padding: 0;

				svg {
					fill: currentColor;
					height: 36px;
					width: 36px;

					@include break-small() {
						height: 28px;
						width: 28px;
					}
				}
			}
		}
	}

	.global-footer {
		margin-top: 150px;
		border-top: 1px solid var(--wp--preset--color--darker-grey);

		@include break-small() {
			margin-top: 0;
		}
	}
}
