body.error404 {

	// @extend %local-header-dark;

	.site-content-container {
		color: var(--wp--preset--color--off-white-2);
		text-align: center;
		margin-top: max(100px, 15vh);
		margin-bottom: min(100px, 15vh);
	}

	// @extend %footer-archive-dark;
}
