/*
 * Styles for the default category archives, and its variations.
 */

body.category-events {
	background-color: var(--wp--preset--color--off-white);

	.local-header {
		--bar-background-color: var(--wp--preset--color--white);
		--bar-text-color: var(--wp--preset--color--darker-grey);
		--bar-link-color: var(--wp--preset--color--blue-1);
		--bar-link-hover-color: var(--wp--preset--color--blue-5);
	}
}

body.category-releases {
	background-color: var(--wp--preset--color--blue-1);

	.local-header {
		--bar-background-color: var(--wp--preset--color--blue-5);
	}

	.site-content-container {
		padding: 0 !important;
		color: var(--wp--preset--color--white);
		display: block;

		a,
		a:hover {
			color: var(--wp--preset--color--white);
		}

		// Make sure the pagination works with the category's
		// blue background color.
		.wp-block-query-pagination {
			color: var(--wp--preset--color--white);

			&::after {
				background-color: var(--wp--preset--color--blue-5);
			}
		}

		.wp-block-post-template {
			max-width: 100% !important;
			width: 100% !important;
		}
	}

	.wp-block-post {
		margin: 0 !important;
		padding: calc(var(--wp--custom--alignment--edge-spacing) / 2) var(--wp--custom--alignment--edge-spacing);
		position: relative;
		min-height: 170px;
		border-bottom: 1px solid var(--wp--preset--color--blue-5);

		@include break-medium() {
				padding-left: calc(var(--wp--custom--layout--content-meta-size) + 32px + var(--wp--custom--alignment--edge-spacing));
		}

		.release__version-title h2 {
			position: absolute;
			top: 0;
			bottom: 0;
			align-items: center;
			left: var(--wp--custom--alignment--edge-spacing);
			width: calc(var(--wp--custom--layout--content-meta-size) - var(--wp--custom--alignment--edge-spacing));
			font-family: var(--wp--preset--font-family--inter);
			overflow: hidden;
			font-size: 160px;
			font-weight: 200;
	    white-space: nowrap;
			word-spacing: 2em;
			text-indent: calc(-740px - 2em);
			letter-spacing: -10px;
	    line-height: 1;
			color: var(--wp--preset--color--blue-5);

			display: none;
			@include break-medium() {
				display: flex;
			}
		}

		header.entry-header {
			margin: 0 !important;
		}

		.wp-block-post-excerpt {
			display: none;
		}

		&:first-child {
			.release__version-title h2 {
				color: var(--wp--preset--color--white);
			}
			.wp-block-post-excerpt {
				display: block;
			}
		}
	}

	@extend %bottom-banner-dark;
}

body.category-month-in-wordpress {
	background-color: var(--wp--preset--color--darker-grey);

	.local-header {
		--bar-background-color: var(--wp--preset--color--dark-grey);
		--bar-text-color: var(--wp--preset--color--white);
		--bar-link-color: var(--wp--preset--color--off-white);
		--bar-link-hover-color: var(--wp--preset--color--off-white-2);

		// Since the bar is the same color as the W.org header, we
		// add a border to help separate them.
		border-top: 1px solid var(--wp--preset--color--darker-grey);
	}

	.wp-block-post-template {
		margin-top: calc(var(--wp--custom--margin--vertical) * 2);
		margin-bottom: calc(var(--wp--custom--margin--vertical) * 2);
	}

	.wp-block-post.wp-block-post {
		margin-bottom: 0;
		text-align: center;

		@include break-small-only() {
			width: calc(50% - 0.625em);
		}
	}

	.last-in-year {

		/* We are removing this item from the grid so we can make the ::after element work as a child of the grid*/
		display: contents;
		position: relative;
		break-after: always;

		&::after {
			content: "-";
			line-height: calc(var(--wp--custom--margin--vertical) * 6);
			width: 100%;
			mask-image: url(images/brush-stroke-big.svg);
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: 80% auto;
			background-color: var(--wp--preset--color--blue-3);

			@include break-small() {
				mask-size: 280px auto;
			}
		}

		article {

			/* We are making the article look like it's a child of the grid container */
			width: calc(33.33333% - 0.83333em);

			@include break-small-only() {
				width: calc(50% - 0.625em);
			}
		}
	}

	@extend %bottom-banner-dark;
}

body.category-development {
	--category-color: var(--wp--preset--color--green);

	.local-header {
		--bar-background-color: var(--wp--preset--color--green);
		--bar-text-color: var(--wp--preset--color--black);
		--bar-link-color: var(--wp--preset--color--black);
		--bar-link-hover-color: var(--wp--preset--color--black);
	}
}

body.category-security {
	--category-color: var(--wp--preset--color--coral-red);

	.local-header {
		--bar-background-color: var(--wp--preset--color--coral-red);
		--bar-text-color: var(--wp--preset--color--black);
		--bar-link-color: var(--wp--preset--color--black);
		--bar-link-hover-color: var(--wp--preset--color--darker-grey);
	}
}

body.category-community {
	background-color: var(--wp--preset--color--off-white);

	.local-header {
		--bar-background-color: var(--wp--preset--color--white);
		--bar-text-color: var(--wp--preset--color--darker-grey);
		--bar-link-color: var(--wp--preset--color--blue-1);
		--bar-link-hover-color: var(--wp--preset--color--blue-5);
	}

	.wp-site-blocks > .site-content-container:not(.site-header-container):not(.local-header):not(.global-footer):not(.bottom-banner) {
		padding: 0;
		margin-top: 0;

		@include break-medium() {
			padding-left: 0;
			padding-right: 0;
		}

		@include break-large() {
			padding-left: var(--wp--custom--alignment--edge-spacing);
			padding-right: var(--wp--custom--alignment--edge-spacing);
		}
	}

	.wp-block-post-template {
		gap: 2px;

		&.is-flex-container.columns-4 > li {

			@include break-small() {
				width: calc(50% - 2px);
			}

			@include break-medium() {
				width: calc(33.333% - 2px);
			}

			@include break-large() {
				width: calc(25% - 2px);
			}
		}
	}

	.wp-block-post-title {
		font-size: var(--wp--preset--font-size--huge);
		line-height: 1.3;

		a:hover,
		a:focus {
			color: inherit;
		}
	}

	.wp-block-post-date {
		font-size: var(--wp--preset--font-size--small);
	}

	li.post {
		margin: 0;

		@include break-small() {
			aspect-ratio: 1 / 1;
		}

		.entry-meta {
			padding: 24px;
		}

		&.has-post-thumbnail {
			position: relative;

			.wp-block-template-part,
			header,
			figure,
			figure a,
			img {

				@include break-small() {
					height: 100%;
				}
			}
			// B&W featured image
			.wp-block-post-featured-image {
				object-fit: cover;

				img {
					filter: grayscale(100%);
				}
			}

			@include break-small() {
				&:hover,
				&:focus-within {
					figure {
						transition: all 0.3s ease-in-out;
						background-color: var(--wp--preset--color--blue-1);
					}

					img {
						mix-blend-mode: multiply;
					}

					.entry-meta {
						opacity: 1;
						transition: opacity 0.3s ease-in-out;
					}
				}

				.entry-meta {
					opacity: 0;
					color: var(--wp--preset--color--white);
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 1;
				}
			}
		}

		&:not(.has-post-thumbnail) {
			min-height: 80vh;
			display: flex;
			align-items: flex-end;

			@include break-small() {
				min-height: 0;

				&:nth-of-type(even):hover,
				&:nth-of-type(odd):hover
				&:nth-of-type(even):focus-within,
				&:nth-of-type(odd):focus-within {
					transition: all 0.3s ease-in-out;
					background-color: var(--wp--preset--color--black);
				}
			}

			// Alternating blue-1 and blue-2 for non-thumbnail posts
			&:nth-of-type(even) {
				background-color: var(--wp--preset--color--blue-1);
				color: var(--wp--preset--color--white);
				vertical-align: bottom;
			}

			&:nth-of-type(odd) {
				background-color: var(--wp--preset--color--blue-2);
				color: var(--wp--preset--color--white);
				vertical-align: bottom;
			}
		}
	}
}

body {
	--category-color: var(--wp--preset--color--blue-1);

	.query-title-banner__title__dropcap {
		grid-column: 1 !important;
		width: calc(var(--wp--custom--layout--content-meta-size) - 32px) !important;
		user-select: none;

		.wp-block-query-title {
			color: var(--category-color);
			font-size: 0;
			line-height: 0.7;
			display: none;

			@include break-wide() {

				display: block;
				margin-top: var(--wp--style--block-gap);
			}

			&::first-letter {
				font-size: 35vw;
				text-transform: uppercase;
			}
		}
	}
}
