// Navigation block inside the local nav block.
.wp-block-wporg-local-navigation-bar .wp-block-navigation {
	.wp-block-navigation__submenu-container {
		display: block !important;
		color: var(--bar-text-color) !important;
		background: var(--bar-background-color) !important;
		border: none !important;
		padding-left: 0 !important;
		padding-right: 0 !important;

		li a {
			display: block;
			justify-content: flex-end;
		}

		@include break-small {
			column-count: 2;

			li a {
				padding: 4px 0;
				justify-content: flex-start;
			}

			&::before,
			&::after {
				content: "";
				position: absolute;
				inset: 0;
				left: calc(var(--wp--preset--spacing--edge-space) * -1);
				right: auto;
				width: var(--wp--preset--spacing--edge-space);
				background: var(--bar-background-color) !important;
			}

			&::after {
				left: auto;
				right: calc(var(--wp--preset--spacing--edge-space) * -1);
			}
		}

		@include break-medium {
			column-count: 3;
		}

		@include break-large {
			column-count: 4;
		}

		@include break-wide {
			column-count: 5;
		}

		// If currently viewing a category, highlighted
		// that category in the list.
		.current-menu-item {
			font-weight: 700;
			position: relative;

			// On small viewports the current category is highlighted
			// using a right-side border.
			&::before {
				height: auto;
				width: 4px;
				content: "";
				background: var(--bar-text-color);
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: auto;
			}

			@include break-small {
				// On large viewports the current category is highlighted
				// using padding an a square.
				padding-right: 0;
				padding-left: 16px;

				&::before {
					height: 4px;
					top: calc(50% - 2px);
					right: auto;
					left: 0;
				}
			}
		}
	}

	.wp-block-navigation-submenu__toggle[aria-expanded="true"] ~ .wp-block-navigation__submenu-container {
		width: calc(100dvw - (var(--wp--preset--spacing--edge-space) * 2)) !important;
		top: 100% !important;
		padding-bottom: var(--wp--preset--spacing--40) !important;
	}

	&.wporg-is-collapsed-nav,
	&.wporg-is-mobile-nav {
		.wp-block-navigation__responsive-close,
		.wp-block-navigation__responsive-container-close,
		.wp-block-navigation__responsive-dialog {
			color: var(--bar-text-color) !important;
			background: var(--bar-background-color) !important;
		}

		.wp-block-navigation-item__content {
			padding-top: 8px !important;
			padding-bottom: 8px !important;
		}

		// Hide the "Categories" button, only show the submenu.
		.wp-block-navigation-submenu__toggle {
			display: none !important;
		}

		wp-block-navigation__responsive-container {
			top: calc(var(--wp--custom--local-navigation-bar--spacing--height) + var(--wp-global-header-offset)) !important;
		}
	}
}
