@include break-mobile {
	h1 {
		font-size: var(--wp--custom--heading--breakpoint--mobile--h1--typography--font-size);
		line-height: var(--wp--custom--heading--breakpoint--mobile--h1--typography--line-height);
	}
	h2 {
		font-size: var(--wp--custom--heading--breakpoint--mobile--h2--typography--font-size);
		line-height: var(--wp--custom--heading--breakpoint--mobile--h2--typography--line-height);
	}
	h3 {
		font-size: var(--wp--custom--heading--breakpoint--mobile--h3--typography--font-size);
		line-height: var(--wp--custom--heading--breakpoint--mobile--h3--typography--line-height);
	}
	h4 {
		font-size: var(--wp--custom--heading--breakpoint--mobile--h4--typography--font-size);
		line-height: var(--wp--custom--heading--breakpoint--mobile--h4--typography--line-height);
	}
	h5 {
		font-size: var(--wp--custom--heading--breakpoint--mobile--h5--typography--font-size);
		line-height: var(--wp--custom--heading--breakpoint--mobile--h5--typography--line-height);
	}
}
