%front-latest-items-grid {

	@extend %two-column-grid-container;

	@include break-wide() {
		grid-template-areas:
			"heading    content"
			"more-link  content";
	}

	> h2 {
		padding-top: var(--wp--custom--alignment--edge-spacing);

		@include break-wide() {
			grid-area: heading;
			border-right: 1px solid var(--wp--preset--color--light-grey);
		}
	}

	> .wp-block-post-template {

		@extend %two-column-grid-right-column;

		@include break-wide() {
			grid-area: content;
			margin-top: 0;
			padding-top: var(--wp--custom--alignment--edge-spacing);
			padding-bottom: var(--wp--custom--alignment--edge-spacing);
		}

		> .wp-block-post:not(:last-of-type) {
			margin-bottom: 45px;

			@include break-wide() {
				margin-bottom: 58px;
			}
		}

		.wp-block-post-title {
			margin-bottom: 12px;

			@include break-wide() {
				margin-bottom: 20px;
			}
		}
	}

	> .wp-block-query-pagination {
		margin-top: 0;

		@include break-wide() {
			grid-area: more-link;
			padding-bottom: var(--wp--custom--alignment--edge-spacing);
			border-right: 1px solid var(--wp--preset--color--light-grey);

			a {
				align-self: end;
			}
		}
	}
}

body.news-front-page {
	.wp-block-home-link__content {

		/* Hide because `.front__site-title` will show it instead. */
		display: none;
	}

	.front__site-title {
		position: relative;
		z-index: 1;
		margin-top: 0;
		background-color: var(--wp--preset--color--blue-1);
		color: var(--wp--preset--color--white);
		font-size: clamp(100px, 25vw, 160px);
		line-height: 3;

		&::after {
			content: "";
			position: absolute;
			transform: translateY(-80%);
			top: 50%;
			bottom: 50%;
			right: 0;
			left: 15vw;
			height: 33%;
			z-index: -1;
			background-color: var(--wp--preset--color--blue-2);
			mask-image: url(images/brush-stroke-big.svg);
			mask-position: left center;
			mask-repeat: no-repeat;
			mask-size: cover;

			@include break-wide() {
				mask-position: right center;
				mask-size: contain;
			}
		}
	}

	.site-content-container {
		margin-top: 0;

		> .wp-block-template-part {
			margin-top: 0;
		}
	}
}
