body.news-front-page {
	.wp-block-home-link__content {
		/* Hide because `.front__site-title` will show it instead. */
		display: none;
	}

	.front__site-title {
		margin-top: 0;
		background-color: var( --wp--preset--color--blue-1 );
		color: var( --wp--preset--color--white );
		font-size: clamp( 100px, 25vw, 160px );
		line-height: 3;
	}

	.site-content-container {
		margin-top: 0;

		> .wp-block-template-part {
			margin-top: 0;
		}
	}

	.footer-archive {
		margin-top: 0;

		.footer-archive-row:first-of-type > * {
			border-top: none;
		}
	}
}
