body.news-front-page .front__latest-posts {
	background: var(--wp--preset--color--white);
	position: relative;
	display: flex;

	.front__latest-posts-heading {
		width: 25%;
		padding: var(--wp--custom--alignment--edge-spacing);
		font-size: 50px;
		line-height: 1;
	}

	.wp-block-post-template {
		margin-top: 0 !important;
		flex-grow: 1;
		padding: var(--wp--custom--alignment--edge-spacing);

		& > li {
			margin-bottom: var(--wp--custom--alignment--edge-spacing);

			&:last-child {
				margin-bottom: 0;
			}
		}

		h3 {
			font-size: 50px;
			margin-bottom: 12px;
			line-height: 1.3;
		}
	}

	.wp-block-query-pagination {
		position: absolute;
		bottom: var(--wp--custom--alignment--edge-spacing);
		left: var(--wp--custom--alignment--edge-spacing);

		&::after {
			background-color: var(--wp--preset--color--off-white-2);
			height: 140px;
			top: -80px;
			width: 200px;
			left: -40px;
		}
	}
}
