body.news-front-page .front__latest-release {

	@extend %front-latest-items-grid;

	background-color: var(--wp--preset--color--blue-1);
	color: var(--wp--preset--color--white);
	border-top: 1px solid var(--wp--preset--color--blue-2);

	a {
		color: var(--wp--preset--color--white);
	}

	.front__latest-release-heading {

		@include break-wide() {
			border-right: 1px solid var(--wp--preset--color--blue-2);
		}
	}

	.wp-block-post-template {
		.wp-block-post-title {
			--header-size: clamp(var(--wp--preset--font-size--huge), 13vw, 130px);

			margin-bottom: var(--wp--custom--margin--vertical);
			padding-right: var(--header-size);
			background-image: url(images/right-arrow.svg);
			background-size: var(--header-size);
			background-repeat: no-repeat;
			background-position: right center;
			font-size: var(--header-size);
			font-family: var(--wp--preset--font-family--inter);
			font-weight: 200;
		}
	}

	.wp-block-query-pagination {

		@include break-wide() {
			border-right: 1px solid var(--wp--preset--color--blue-2);
		}

		&::after {
			background-color: var(--wp--preset--color--blue-2);
		}

		a {
			text-decoration: underline;
		}
	}
}
