body.news-front-page .front__latest-posts {
	@extend %two-column-grid-container;

	@include break-wide() {
		grid-template-areas:
			"latest-posts   post-titles"
			"see-all-posts  post-titles"
		;
	}

	.front__latest-posts-heading {
		padding-top: var(--wp--custom--alignment--edge-spacing);

		@include break-wide() {
			grid-area: latest-posts;
			border-right: 1px solid var(--wp--preset--color--light-grey);
		}
	}

	.wp-block-post-template {
		@extend %two-column-grid-right-column;

		@include break-wide() {
			grid-area: post-titles;
			margin-top: 0;
			padding-top: var(--wp--custom--alignment--edge-spacing);
			padding-bottom: var(--wp--custom--alignment--edge-spacing);
		}
	}

	.wp-block-query-pagination {
		margin-top: 0;

		@include break-wide() {
			grid-area: see-all-posts;
			padding-bottom: var(--wp--custom--alignment--edge-spacing);
			border-right: 1px solid var(--wp--preset--color--light-grey);
		}
	}
}
