body.news-front-page .front__people-of-wordpress {
	background-color: var(--wp--preset--color--off-white);

	@include break-medium() {
		display: grid;
		grid-template-columns: 1fr auto;

		grid-template-areas:
			"heading    all-people"
			"thumbnails thumbnails";
	}

	h2 {
		padding-top: var(--wp--custom--alignment--edge-spacing);
		padding-bottom: var(--wp--custom--alignment--edge-spacing);

		@include break-medium() {
			grid-area: heading;
		}
	}

	ul.wp-block-post-template {
		display: flex;
		flex-direction: column;
		margin: 0;

		@include break-medium() {
			flex-direction: row;
			grid-area: thumbnails;
			gap: 2px;
		}

		li {
			flex-basis: 100%;
			margin-top: 0;

			@include break-small() {
				flex-basis: 20%;
			}

			.wp-block-post-featured-image {
				margin: 0;

				img {
					filter: grayscale(100%);
					aspect-ratio: 1 / 1;
					object-fit: cover;

					&:hover {
						filter: grayscale(0%);
					}
				}
			}

			&:not(.has-post-thumbnail) {

				@extend %edge-spacing-padding;

				.wp-block-post-title {

					@include show-hidden-accessibly;
				}

				@include break-medium() {
					padding: 0;
				}

				h3 {

					@include break-medium() {
						margin: 0 5px;
					}
				}
			}
		}
	}

	.wp-block-query-pagination {
		margin-top: 0;

		&::after {
			background-color: var(--wp--preset--color--white);
		}

		@include break-medium() {
			grid-area: all-people;
			align-self: center;
			padding: var(--wp--custom--alignment--edge-spacing);
			line-height: var(--wp--custom--body--typography--line-height);
		}
	}
}
