body.news-front-page .front__people-of-wordpress {
	background-color: var( --wp--preset--color--off-white );

	@include break-medium() {
		display: grid;
		grid-template-columns: 1fr auto;

		grid-template-areas:
			"heading    all-people"
			"thumbnails thumbnails"
		;
	}

	h2 {
		padding-top: var(--wp--custom--alignment--edge-spacing);
		padding-bottom: var(--wp--custom--alignment--edge-spacing);

		@include break-medium() {
			grid-area: heading;
		}
	}

	ul.wp-block-post-template {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 0;
		margin: 0;

		@include break-medium() {
			grid-area: thumbnails;
		}

		li {
			flex-basis: 200px;
			flex-grow: 1;
			margin-top: 0;

			.wp-block-post-featured-image {
				margin: 0;

				img {
					filter: grayscale(100%);

					&:hover {
						filter: grayscale(0%);
					}
				}
			}

			&.has-post-thumbnail .wp-block-post-title {
				display: none;
			}

			&:not(.has-post-thumbnail) {
				@extend %edge-spacing-padding;

				@include break-medium() {
					padding: 0;
				}

				h3 {
					@include break-medium() {
						margin: 0 5px;
					}
				}
			}
		}
	}

	.wp-block-query-pagination {
		margin-top: 0;

		&:after {
			background-color: white;
		}

		@include break-medium() {
			grid-area: all-people;
			align-self: center;
			padding: var(--wp--custom--alignment--edge-spacing);
			line-height: var(--wp--custom--body--typography--line-height);
		}
	}
}
