.bottom-banner.wp-block-template-part {
	margin-top: 0;
	border-bottom: 1px solid var(--wp--preset--color--light-grey);
}

// Default/light version.
.bottom-banner-row[class*="wp-container-"] {
	justify-content: space-between;
	align-items: stretch !important;
	margin-top: 0;
	gap: 0;
	background-color: var(--wp--preset--color--white);

	h3 {
		margin-bottom: var(--wp--custom--margin--baseline);
		font-size: var(--wp--custom--h-3--typography--font-size);
		line-height: 1.3;

		@include break-wide() {
			line-height: 1.35;
		}

		@include break-giant() {
			font-size: 36px;
		}
	}

	h3 + p {
		margin-top: 0;
		line-height: var(--wp--custom--body--typography--line-height);
	}

	> .wp-block-group {
		text-align: left;
		padding: calc(var(--wp--custom--alignment--edge-spacing) * 2) var(--wp--custom--alignment--edge-spacing);
		border-top: 1px solid var(--wp--preset--color--light-grey);
		width: 100%;

		@include break-medium {
			flex-basis: 50%;
			flex-shrink: 0;
			flex-grow: 0;
			padding-top: 60px;
			padding-bottom: 60px;

			&:nth-child(odd) {
				border-right: 1px solid var(--wp--preset--color--light-grey);
				padding-right: var(--wp--custom--alignment--edge-spacing);
			}

			&:nth-child(even) {
				padding-left: var(--wp--custom--alignment--edge-spacing);
			}
		}
	}
}

// Alternate dark version.
%bottom-banner-dark {
	.bottom-banner.wp-block-template-part {
		border-color: #1c2024;
	}

	.bottom-banner .bottom-banner-row[class*="wp-container-"] {
		background-color: var(--wp--preset--color--dark-grey);
		color: var(--wp--preset--color--white);
		border-color: #1c2024;

		> * {
			border-color: #1c2024;

			a {
				color: var(--wp--preset--color--blue-3);
			}
		}
	}
}
