.bottom-banner .bottom-banner-row[class*="wp-container-"] .wp-briefing {
	p {
		margin-top: 0;
		margin-bottom: 0;
	}

	.podcast-link {
		line-height: 2.4;
		padding: 1em 1em 1em 0;
		background-image: url(images/brush-stroke-short-2-blue-4.svg);
		background-position: bottom right;
		background-repeat: no-repeat;
		background-size: contain;

		a {
			text-decoration: underline currentColor;
		}
	}

	.wp-social-link-chain {
		a {
			background-size: 24px;
			background-repeat: no-repeat;
		}

		svg {
			visibility: hidden;
		}
	}

	.wp-briefing__apple-podcasts a {
		background-image: url(images/podcast-services/apple-podcasts.svg);
	}

	.wp-briefing__google-podcasts a {
		background-image: url(images/podcast-services/google-podcasts.svg);
	}

	.wp-briefing__pocket-casts a {
		background-image: url(images/podcast-services/pocket-casts.svg);
	}

	.wp-briefing__stitcher a {
		background-image: url(images/podcast-services/stitcher.svg);
	}
}

%bottom-banner-dark {
	.bottom-banner .bottom-banner-row[class*="wp-container-"] .wp-briefing {
		.podcast-link {
			background-image: url(images/brush-stroke-short-2-dark-4.svg);
		}

		.wp-briefing__apple-podcasts a {
			background-image: url(images/podcast-services/apple-podcasts-light.svg);
		}

		.wp-briefing__google-podcasts a {
			background-image: url(images/podcast-services/google-podcasts-light.svg);
		}

		.wp-briefing__pocket-casts a {
			background-image: url(images/podcast-services/pocket-casts-light.svg);
		}

		.wp-briefing__stitcher a {
			background-image: url(images/podcast-services/stitcher-light.svg);
		}
	}
}
