.bottom-banner .bottom-banner-items[class*="wp-container-"] .wp-briefing {
	p {
		margin-top: 0;
		margin-bottom: 0;
	}

	.podcast-links-container {
		gap: 15px 30px;
		margin-top: 20px;

		.wp-block-social-links {
			margin: 0;
		}

		.podcast-link {
			line-height: 2.4;
			background-image: url(images/brush-stroke-short-2-blue-4.svg);
			background-position: bottom right;
			background-repeat: no-repeat;
			background-size: contain;

			a {
				text-decoration: underline currentColor;
			}
		}
	}
}

.wp-briefing__apple-podcasts a,
.wp-briefing__google-podcasts a,
.wp-briefing__pocket-casts a,
.wp-briefing__stitcher a {
	background-size: 24px;
	background-repeat: no-repeat;

	svg {
		visibility: hidden;
	}
}

.wp-block-social-link-anchor {
	background-position: center;

	.wp-briefing__apple-podcasts & {
		background-image: url(images/podcast-services/apple-podcasts.svg);
	}

	.wp-briefing__google-podcasts & {
		background-image: url(images/podcast-services/google-podcasts.svg);
	}

	.wp-briefing__pocket-casts & {
		background-image: url(images/podcast-services/pocket-casts.svg);
	}

	.wp-briefing__stitcher & {
		background-image: url(images/podcast-services/stitcher.svg);
	}
}

body.single-podcast {
	.podcast-info {
		grid-column: 1 !important;
	}
}

%bottom-banner-dark {
	.bottom-banner .bottom-banner-items[class*="wp-container-"] .wp-briefing {
		.podcast-link {
			background-image: url(images/brush-stroke-short-2-dark-4.svg);
		}

		.wp-briefing__apple-podcasts .wp-block-social-link-anchor {
			background-image: url(images/podcast-services/apple-podcasts-light.svg);
		}

		.wp-briefing__google-podcasts .wp-block-social-link-anchor {
			background-image: url(images/podcast-services/google-podcasts-light.svg);
		}

		.wp-briefing__pocket-casts .wp-block-social-link-anchor {
			background-image: url(images/podcast-services/pocket-casts-light.svg);
		}

		.wp-briefing__stitcher .wp-block-social-link-anchor {
			background-image: url(images/podcast-services/stitcher-light.svg);
		}
	}
}
