@import '~@wordpress/base-styles/breakpoints';
@import '~@wordpress/base-styles/mixins';

@mixin break-small-only() {
	@media (max-width: #{ ($break-small - 1) }) {
		@content;
	}
}

// Custom breakpoints should be synced with `global-header-footer` in `wporg-mu-plugins`.
@mixin break-tablet() {
	@media (min-width: 890px) {
		@content;
	}
}
