// Links
a {
	cursor: pointer;
	text-decoration: none;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.15em;

	&:hover,
	&:focus {
		text-decoration-line: underline;
	}
}

// Links that appear in the main content area
.block-editor-block-list__layout a, // Needed for the post area
.wp-block-post-content a {
	text-decoration-line: underline;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}


// Captions
.wp-block-gallery.wp-block-gallery, // Double class for increased specificity.
figure[class*="wp-block-"],
[class*="wp-block-"] {
	figcaption {
		font-size: var(--wp--custom--gallery--caption--font-size);
		text-align: right;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	&.wp-block-gallery.has-nested-images {
		> figcaption {
			margin-top: 0;
		}
	}

	&.alignfull {
		> figcaption {
			padding-right: var(--wp--style--block-gap);
		}
	}
}


// Forms
input.wp-block-search__input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background: var(--wp--custom--form--color--background);
	border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
	border-radius: var(--wp--custom--form--border--radius);
	box-shadow: var(--wp--custom--form--color--box-shadow);
	font-family: inherit;
	padding: var(--wp--custom--form--padding);

	&:focus {
		border-color: var(--custom--form--color--border);
	}
}

select {
	font-family: inherit;
	font-size: 100%;
}

textarea {
	width: 100%;
}

// Vertically align checkbox + label relationship
input[type="checkbox"] + label {
	display: inline;
	margin-left: 0.5em;
	line-height: 1em; // stylelint-disable-line declaration-property-unit-allowed-list
}
