:root {
	--wpadmin-bar--height: 46px;
}

.wp-site-blocks {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	/*
	 * Make sure the footer is always at the bottom of the viewport, even on pages with little content.
	 * Otherwise there'd be empty space below the footer
	 */
	justify-content: space-between;
}

body.admin-bar {
	@include break-small() {
		--wpadmin-bar--height: 32px;
	}

	.wp-site-blocks {
		min-height: calc( 100vh - var(--wpadmin-bar--height) );
	}
}

%two-column-grid-container {
	@include break-wide() {
		display: grid;
		grid-template-columns:
			calc( var(--wp--custom--layout--content-meta-size) - 32px )
			auto
		;

		/*
		 * This defines the minimum horizontal gap. An additional implicit gap is created because the right column
		 * contents have a `max-width` and are justified in the center.
		 */
		grid-gap: 0 var( --wp--style--block-gap );
	}
}

%two-column-grid-right-column {
	@include break-wide() {
		justify-self: center;
		width: var(--wp--custom--layout--content-size);
		max-width: var(--wp--custom--layout--content-size);
	}
}
