body {
	// Remove the margin in all browsers.
	margin: 0;
	padding: 0;

	// Smooth out the fonts
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Blocks, by default, have a top margin. This is annoying.
.wp-site-blocks [class*="wp-container-"] * + * {
	margin-top: 0;
}

// Needed until https://github.com/WordPress/gutenberg/pull/27518/ is merged.
img {
	height: auto;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}
