.wp-block-post {
	.blog &,
	.category:not(.category-community):not(.category-releases) & {
		padding-bottom: 20px;

		@include break-mobile() {
			margin-bottom: 40px;
		}
	}
}

.wp-block-post-content {
	padding-bottom: var(--wp--style--block-gap);

	.wp-block-gallery,
	.wp-block-image {
		margin-top: 40px;
		margin-bottom: 16px;

		@include break-mobile() {
			margin-top: 70px;
			margin-bottom: 46px;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	.wp-block-pullquote {
		grid-column: 1 / span 2 !important;
		width: 100% !important;
		max-width: 100% !important;
	}
}

body.archive .site-content-container,
body.search .site-content-container {
	padding-left: var(--wp--custom--alignment--edge-spacing);
	padding-right: var(--wp--custom--alignment--edge-spacing);
	padding-bottom: var(--wp--custom--alignment--edge-spacing);
}

body.news-posts-index .site-content-container,
body.archive .site-content-container,
body.search .site-content-container,
body.single:not(.single-podcast) .site-content-container .wp-block-post-content,
body.single-podcast .site-content-container .podcast-wrapper,
body.page .site-content-container .wp-block-post-content {

	@extend %two-column-grid-container-dynamic-rows;
}
