.wp-block-post-content {
	padding-bottom: var(--wp--style--block-gap);
}

body.news-posts-index .site-content-container,
body.archive .site-content-container,
body.search .site-content-container,
body.single .site-content-container .wp-block-post-content,
body.page .site-content-container .wp-block-post-content {
	@extend %two-column-grid-container-dynamic-rows;
}
