.wp-block-post-content {
	padding-bottom: var(--wp--style--block-gap);

	.wp-block-gallery,
	.wp-block-image {
		margin-top: 40px;
		margin-bottom: 16px;

		@include break-mobile() {
			margin-top: 70px;
			margin-bottom: 46px;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	.wp-block-pullquote {
		grid-column: 1 / span 2;
		width: 100%;
		max-width: 100%;
	}
}

body.news-posts-index .site-content-container,
body.archive .site-content-container,
body.search .site-content-container,
body.single .site-content-container .wp-block-post-content,
body.page .site-content-container .wp-block-post-content {

	@extend %two-column-grid-container-dynamic-rows;
}
