.wp-block-post-title {
  font-size: var(--wp--preset--font-size--huge);
  line-height: 1.1;

  a {
    color: var(--wp--preset--color--darker-grey);

    &:hover {
      color: var(--wp--preset--color--blue-1);
    }
  }
}

.entry-meta {
  font-size: var(--wp--preset--font-size--small);
  display: flex;
  flex-direction: row;

  .wp-block-post-terms {
    text-transform: uppercase;

    &:after {
      content: '\00B7';
      display: inline-block;
      margin: 0 10px;
    }
  }
}

body.category {
  .wp-block-post {
    padding-bottom: 60px;

    .wp-block-post-title {
      margin-bottom: 5px;
    }

    .entry-meta {
      margin-bottom: 30px;
    }
  }
}
