.footer-archive .footer-archive-row[class*="wp-container-"] {
	justify-content: space-between;
	align-items: stretch !important;
	margin-top: 0;
	gap: 0;

	& > * {
		padding-top: 50px;
		padding-bottom: 50px;
		border-bottom: 1px solid var(--wp--preset--color--light-grey);

		@include break-medium {
			flex-basis: 50%;
			flex-shrink: 0;
			flex-grow: 0;
			padding-top: 60px;
			padding-bottom: 60px;
			border-top: 1px solid var(--wp--preset--color--light-grey);
			border-bottom: none;

			&:nth-child(odd) {
				border-right: 1px solid var(--wp--preset--color--light-grey);
				padding-right: var( --wp--custom--alignment--edge-spacing );
			}

			&:nth-child(even) {
				padding-left: var( --wp--custom--alignment--edge-spacing );
			}
		}
	}

	.wp-briefing {
		p {
			margin-top: 0;
			margin-bottom: 0;
		}

		.podcast-link {
			line-height: 2.4;
			margin-top: 1.1em;
			padding: 0 1em 1.1em;
			background-image: url("assets/svg/brush-stroke-short-2-blue-4.svg");
			background-position: bottom right;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}
