.entry-header {
	&[class*="wp-block-"] * + * {
		margin-top: 0;
	}

	.news-front-page &,
	.news-posts-index &,
	.archive & {
		.wp-block-post-terms,
		.wp-block-post-date {
			display: inline-block;
			line-height: normal;
		}

		.wp-block-post-terms {
			text-transform: uppercase;
		}

		.wp-block-post-terms::after {
			content: "\0020\00B7";
		}
	}

	.blog &,
	.archive & {
		.wp-block-post-title {
			margin-bottom: 10px;
		}
	}

	.single &,
	.page & {
		margin-top: 8px;

		@include break-mobile() {
			margin-top: 32px;

			.wp-block-post-date {
				margin: calc(var(--wp--custom--margin--vertical) / 2) 0 0;
			}
		}

		.wp-block-post-author-name,
		.wp-block-post-terms {
			display: inline-block;
		}

		+ .wp-block-separator {
			margin-top: 40px;
			margin-bottom: 40px;

			@include break-mobile() {
				margin-top: 70px;
				margin-bottom: 70px;
			}
		}
	}
}

.single .entry-header,
.page .entry-header {

	@extend %two-column-grid-container;

	@include break-wide() {
		grid-template-areas: "entry-meta post-title";
	}

	.entry-meta {
		margin-bottom: 25px;
		font-size: 13px;

		* {
			font-size: inherit;
		}

		@include break-mobile() {
			font-size: var(--wp--preset--font-size--small);
		}

		@include break-wide() {
			grid-area: entry-meta;
			margin-bottom: 0;
		}
	}

	.wp-block-post-title {

		@extend %two-column-grid-right-column;

		@include break-wide() {
			grid-area: post-title;
		}
	}
}
