.entry-header {
	&[class*="wp-container-"] * + * {
		margin-top: 0;
	}

	.news-front-page &,
	.news-posts-index &,
	.archive & {
		.wp-block-post-terms,
		.wp-block-post-date {
			display: inline-block;
		}

		.wp-block-post-terms {
			text-transform: uppercase;
		}

		.wp-block-post-terms::after {
			content: "\0020\00B7";
		}
	}

	.single &,
	.page & {
		.wp-block-post-date {
			line-height: 3.4;
		}

		.wp-block-post-author,
		.wp-block-post-terms {
			display: inline-block;
		}
	}
}

.single .entry-header,
.page .entry-header {

	@extend %two-column-grid-container;

	@include break-wide() {
		grid-template-areas: "entry-meta post-title";
	}

	.entry-meta {

		@include break-wide() {
			grid-area: entry-meta;
		}
	}

	.wp-block-post-title {

		@extend %two-column-grid-right-column;

		@include break-wide() {
			grid-area: post-title;
		}
	}
}
