[class*="wp-container-"] > .post-navigation {
	padding-top: 0;
	padding-right: var(--wp--custom--post-content--padding--right);
	padding-bottom: 19px;
	padding-left: var(--wp--custom--post-content--padding--left);

	& * {
		margin-top: 0;
	}
}

@include break-tablet {
	[class*="wp-container-"] > .post-navigation {
		padding-top: 0;
		padding-right: 88px;
		padding-bottom: 26px;
		padding-left: var(--wp--custom--post-content--breakpoint--tablet--padding--left);
	}
}

.post-navigation {
	display: flex;
	justify-content: space-between;

	.wp-block-post-navigation-link {
		display: inline-block;

		&.post-navigation-link-previous {
			a:before {
				content: "\00B7\0020";
			}
		}

		&.post-navigation-link-next {
			display: flex;
			flex-direction: row-reverse;

			a:after {
				content: "\0020\00B7";
				padding-right: 0.3em;
			}
		}
	}
}
