.post-navigation {
	padding-bottom: var(--wp--style--block-gap);
	display: flex;
	justify-content: space-between;
	gap: calc(var(--wp--style--block-gap) * 2);

	.wp-block-post-navigation-link {
		display: flex;
		flex-direction: column;
		
		@include break-medium() {
			gap: 1ch;
			flex-direction: row;
		}

		&.post-navigation-link-previous {
			span {
				white-space: nowrap;
			}

			@include break-medium() {
				span::after {
					content: " \00B7\0020";
				}
			}
		}

		&.post-navigation-link-next {
			text-align: end;

			@include break-medium() {
				flex-direction: row-reverse;
				span::before {
					content: " \0020\00B7";
					padding-right: 0.3em;
				}
			}
		}
	}
}
