[class*="wp-container-"] > .post-navigation {
	padding-bottom: var(--wp--style--block-gap);

	* {
		margin-top: 0;
	}
}

.post-navigation {
	display: flex;
	justify-content: space-between;
	gap: calc(var(--wp--style--block-gap) * 2);

	.wp-block-post-navigation-link {
		display: inline-block;

		&.post-navigation-link-previous {
			a::before {
				content: "\00B7\0020";
			}
		}

		&.post-navigation-link-next {
			display: flex;
			flex-direction: row-reverse;

			a::after {
				content: "\0020\00B7";
				padding-right: 0.3em;
			}
		}
	}
}
